PORT=4000
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_SILVER_PRICE_ID=price_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_PLATINUM_PRICE_ID=price_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx
